[Unit]
Description=Necrolab Daily Leaderboard Entries caching service.

[Service]
PIDFile=/var/run/necrolab-daily-leaderboard-entries-cache.pid
ExecStart=/usr/bin/php /<base_path>/necrolab/flow_cli necrolab steamimport RunDailyCacheQueueListener > /dev/null 2>/dev/null
Type=simple
User=<your_user_name>
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target