[Unit]
Description=Necrolab Daily Rankings caching service.

[Service]
PIDFile=/var/run/necrolab-daily-rankings-cache.pid
ExecStart=/usr/bin/php /<base_path>/necrolab/flow_cli necrolab rankings/daily RunCacheQueueListener > /dev/null 2>/dev/null
Type=simple
User=<your_user_name>
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target