[Unit]
Description=Necrolab Leaderboard XML saving service.

[Service]
PIDFile=/var/run/necrolab-save-xml.pid
ExecStart=/usr/bin/php /<base_path>/necrolab/flow_cli necrolab steamimport RunXmlSaveQueueListener > /dev/null 2>/dev/null
Type=simple
User=<your_user_name>
KillMode=process

[Install]
WantedBy=multi-user.target