[Unit]
Description=Necrolab Leaderboard XML upload service.

[Service]
PIDFile=/var/run/necrolab-upload-xml.pid
ExecStart=/usr/bin/php /<base_path>/necrolab/flow_cli necrolab steamimport RunXmlUploadQueueListener > /dev/null 2>/dev/null
Type=simple
User=<your_user_name>
KillMode=process

[Install]
WantedBy=multi-user.target