input.form_button {
    width: 154px;
    font-family: NecroSans, Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px; 
}

input.form_button, input.button {
    z-index: 9998px;
    background-color: rgb(51, 51, 51);
    color: #FFFFFF;
	border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
	font-weight: bold;
}

input.button {
	font-size: 11px; 
	font-family: NecroSans, Verdana, Arial, Helvetica, sans-serif;
}