.data_table input.textbox {
    width: auto;
}

.data_table div.top_menu {
    clear: both;
}

.data_table div.table_menu {
    white-space: nowrap;
    clear: both;
}
.data_table .table_menu .table_menu_filters {
    float: left;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.data_table input.rows_submit {
    width: 50px;
    height: 35px;
}

.data_table input[type=text] {
    width: 300px;
    height: 35px;
    font-size: 14px;
    letter-spacing: inherit;
    padding-left: 5px;
}

.data_table ul.page_numbers {
    display: inline;
}

.data_table div.pagination {
    font-size: 22px;
    font-weight: bold;
    float: right;
}

.data_table li.page_number, .data_table li.current_page_number {
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
}

.data_table li.page_number a, .data_table li.page_number a:hover, .data_table li.current_page_number {
    display: inline-block;
    padding: 0px 10px;
    color: #FFFFFF;
}

.data_table li.page_number a, .data_table li.current_page_number {
    border: 2px solid #FFFFFF;
}

.data_table li.page_number a:hover {
    background-color: #CCCCCC;
}

.data_table li.current_page_number {
    background-color: #CCCCCC;
    font-weight: bold;
}

.data_table .table_header {
    vertical-align: middle;
}

.data_table .group_header_column {
    border-right: 5px solid #FFFFFF;
}

.data_table .group_header_column_first {
    border-left: 5px solid #FFFFFF;
}

.data_table .filters th input {    
    font-weight: none;
    letter-spacing: 1px;
    width: 200px;
}

.data_table th .center {
    text-align: center;
}