form ul.form_field {
    margin-top: 5px;
    margin-bottom: 5px;
}

form ul li {
    display: inline-block;
    vertical-align: middle;
}

form ul li label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

form ul.textarea_field {
    display: block;
}

input, textarea, select {
	font-family: Arial, Helvetica, sans-serif;
    background-color: inherit;
    border: 2px solid #FFFFFF;
}

label {
    font-size: 12px;
}

li input {
    width: 200px;
}

li.label {
    padding-right: 10px;
}

form .textbox {
    width: 260px;
}

div.form_errors, div.form_warnings, div.form_confirmations {
    padding: 10px 10px 10px 30px;
    font-size: 12px;
    font-weight: bold;
}

div.form_errors, div.form_confirmations, div.form_warnings {
    margin-bottom: 10px;
}

div.form_errors {
    border: 1px solid #F16048;
    background: url("/assets/images/modules/admin/theme/light/error_message_icon.gif") no-repeat scroll 10px 10px #FAEBE7;
    color: #DF280A;
}

div.form_confirmations {
    border: 1px solid #95A486;
    background: url("/assets/images/modules/admin/theme/light/success_message_icon.gif") no-repeat scroll 10px 10px #EFF5EA;
    color: #3D6611;
}

div.form_warnings {
    border: 1px solid #666E73;
    background: url("/assets/images/modules/admin/theme/light/warning_message_icon.gif") no-repeat scroll 10px 10px #E6E6E6;
    color: #000000;
}