form ul.form_field {
    margin-top: 5px;
    margin-bottom: 5px;
}

form ul li {
    display: inline-block;
    vertical-align: middle;
}

form ul li label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

form ul.textarea_field {
    display: block;
}

input, textarea, select {
	font-family: Arial, Helvetica, sans-serif;
    background-color: inherit;
    border: 2px solid #FFFFFF;
}

label {
    font-size: 18px;
}

li input {
    width: 200px;
}

li.label {
    padding-right: 10px;
}

form .textbox {
    width: 260px;
}

div.form_errors, div.form_warnings, div.form_confirmations {
    padding: 10px 10px 0px 15px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

div.form_errors, div.form_confirmations, div.form_warnings {
    margin-bottom: 10px;
}