.table_form th {
    text-align: left;
    padding: 5px;
    font-size: 12px;
    font-weight: normal;
    background: none repeat scroll 0 0 #6F8992 !important;
    color: #FFFFFF;
}

.table_form th, .table_form td {
    vertical-align: top;
    border: solid 0px #000000;
}

.table_form td:first-child {
    width: 20%;
}

.table_form textarea {
    width: 350px;
    height: 200px;
    padding: 0px !important;    
}